*.py[cod]

# C extensions
*.so

# Sphinx
doc/api
doc/_build

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# Unit test / coverage reports
htmlcov
.coverage
.pytest_cache

# Editor files
.*.swp
*~

# Mac OSX
.DS_Store

# Hand-made executable
trac-remote
